Model1/m1wsc/src/main/resources/META-INF/CommercialVehicleCollisionWebserviceIntf.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    targetNamespace="urn:examples.com:techniques:iepd:commercialVehicleCollision:ws:2.0"
    xmlns:tns="urn:examples.com:techniques:iepd:commercialVehicleCollision:ws:2.0"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" 
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" 
    xmlns:sc="http://schemas.sun.com/2006/03/wss/server" 
    xmlns:scl="http://schemas.sun.com/2006/03/wss/client"
    xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"     
    xmlns:msg="urn:examples.com:techniques:iepd:commercialVehicleCollision:message:2.0"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
        
    <wsp:Policy wsu:Id="CommercialVehicleCollisionBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <!-- WSP Server identity -->
                <scl:TrustStore wspp:visibility="private" peeralias="curewspm1" storepass="changeit" type="JKS" location="curewscm1-cacerts.jks"/>                
                <!-- WSC Client identity -->
                <scl:KeyStore wspp:visibility="private" alias="curewscm1" storepass="changeit" type="JKS" location="curewscm1-keystore.jks"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    
    <wsdl:types>
	<!-- this is the WS-I BP-compliant way to import a schema -->
    <!--
        Note: in published WSDL following line present
                <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                However to enable @SchemaValidation feature on the endpoint we
                have to remove xmlns:xsd declaration.
        -->
        <xsd:schema>
            <xsd:import
          namespace="urn:examples.com:techniques:iepd:commercialVehicleCollision:message:2.0"
          schemaLocation="CommercialVehicleCollisionMessageSchema.xml"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getDocumentRequestMsg">
        <wsdl:part name="parameters" element="msg:getDocumentRequest"/>
    </wsdl:message>

    <wsdl:message name="getDocumentResponseMsg">
        <wsdl:part name="parameters" element="msg:getDocumentResponse"/>
    </wsdl:message>
  
    <wsdl:message name="uploadPhotoRequestMsg">
        <wsdl:part name="parameters" element="msg:uploadPhotoRequest"/>
    </wsdl:message>

    <wsdl:message name="uploadPhotoResponseMsg">
        <wsdl:part name="parameters" element="msg:uploadPhotoResponse"/>
    </wsdl:message>

    <wsdl:message name="downloadDataRequestMsg">
        <wsdl:part name="parameters" element="msg:downloadDataRequest"/>
    </wsdl:message>

    <wsdl:message name="downloadDataResponseMsg">
        <wsdl:part name="parameters" element="msg:downloadDataResponse"/>
    </wsdl:message>
  

    <wsdl:portType name="CommercialVehicleCollisionPortType">

        <wsdl:operation name="getDocument">
            <wsdl:input name="getDocumentRequest" message="tns:getDocumentRequestMsg"/>
            <wsdl:output name="getDocumentResponse" message="tns:getDocumentResponseMsg"/>
        </wsdl:operation>

        <wsdl:operation name="uploadPhoto">
            <wsdl:input name="uploadPhotoRequest" message="tns:uploadPhotoRequestMsg"/>
            <wsdl:output name="uploadPhotoResponse" message="tns:uploadPhotoResponseMsg"/>
        </wsdl:operation>

        <wsdl:operation name="downloadData">
            <wsdl:input name="downloadDataRequest" message="tns:downloadDataRequestMsg"/>
            <wsdl:output name="downloadDataResponse" message="tns:downloadDataResponseMsg"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding
      name="CommercialVehicleCollisionBinding"
      type="tns:CommercialVehicleCollisionPortType">          
        <wsp:PolicyReference URI="#CommercialVehicleCollisionBindingPolicy"/>
        
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="getDocument">
            <wsdl:input name="getDocumentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDocumentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="uploadPhoto">
            <wsdl:input name="uploadPhotoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="uploadPhotoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	
        <wsdl:operation name="downloadData">
            <wsdl:input name="downloadDataRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="downloadDataResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    
    </wsdl:binding>
    
</wsdl:definitions>
